<div class="form_wrapper bg-gradient-to-br from-blue-600 to-indigo-600">
  <%= render 'form', track_note: @track_note, purpose: "Add Track Note" %>
  <%= link_to 'Back', track_notes_path, :class => "link" %>
  <div>If there's no song you want to add note to, add a song! <%= link_to 'Add Song', new_music_track_path, :class => "link" %></div>
</div>
