<div class="form_wrapper bg-gradient-to-br from-blue-300 to-indigo-300">
  <%= render 'form' , music_track: @music_track, purpose: "Add Music Track" %>
  <%= link_to 'See full list of Music Tracks' , music_tracks_path, :class => "link" %>
</div>
